<%- model_class = Flat -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:flat_number) %></th>
      <th><%= model_class.human_attribute_name(:area) %></th>
      <th><%= model_class.human_attribute_name(:floor) %></th>
      <th><%= model_class.human_attribute_name(:flat_cost) %></th>
      <th><%= model_class.human_attribute_name(:MSEB_charges) %></th>
      <th><%= model_class.human_attribute_name(:other_charges) %></th>
      <th><%= model_class.human_attribute_name(:water_charges) %></th>
      <th><%= model_class.human_attribute_name(:parking_charges) %></th>
      <th><%= model_class.human_attribute_name(:maintainance_charges) %></th>
      <th><%= model_class.human_attribute_name(:govt_charges) %></th>
      <th><%= model_class.human_attribute_name(:site_id) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @flats.each do |flat| %>
      <tr>
        <td><%= link_to flat.flat_number, flat_path(flat) %></td>
        <td><%= flat.area %></td>
        <td><%= flat.floor %></td>
        <td><%= flat.flat_cost %></td>
        <td><%= flat.MSEB_charges %></td>
        <td><%= flat.other_charges %></td>
        <td><%= flat.water_charges %></td>
        <td><%= flat.parking_charges %></td>
        <td><%= flat.maintainance_charges %></td>
        <td><%= flat.govt_charges %></td>
        <td><%= flat.site_id %></td>
        <td>
          <%= link_to t('.show', :default => t("helpers.links.show")),
                      flat_path(flat), :class => 'btn btn-default btn-xs' %>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_flat_path(flat), :class => 'btn btn-default btn-xs' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      flat_path(flat),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-xs btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_flat_path,
            :class => 'btn btn-primary' %>
