<%- model_class = BookingDetail -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:customer_name) %>:</strong></dt>
  <dd><%= @booking_detail.customer_name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:customer_address) %>:</strong></dt>
  <dd><%= @booking_detail.customer_address %></dd>
  <dt><strong><%= model_class.human_attribute_name(:customer_contact) %>:</strong></dt>
  <dd><%= @booking_detail.customer_contact %></dd>
  <dt><strong><%= model_class.human_attribute_name(:customer_pan) %>:</strong></dt>
  <dd><%= @booking_detail.customer_pan %></dd>
  <dt><strong><%= model_class.human_attribute_name(:customer_adhar) %>:</strong></dt>
  <dd><%= @booking_detail.customer_adhar %></dd>
  <dt><strong><%= model_class.human_attribute_name(:site_id) %>:</strong></dt>
  <dd><%= @booking_detail.site.name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:flat_id) %>:</strong></dt>
  <dd><%= @booking_detail.flat.flat_number %></dd>
  <dt><strong><%= model_class.human_attribute_name(:booking_charges) %>:</strong></dt>
  <dd><%= @booking_detail.booking_charges %></dd>
  <dt><strong><%= model_class.human_attribute_name(:vat) %>:</strong></dt>
  <dd><%= @booking_detail.vat %></dd>
  <dt><strong><%= model_class.human_attribute_name(:service_tax) %>:</strong></dt>
  <dd><%= @booking_detail.service_tax %></dd>
  <dt><strong><%= model_class.human_attribute_name(:loan_possible) %>:</strong></dt>
  <dd><%= @booking_detail.loan_possible %></dd>
  <dt><strong><%= model_class.human_attribute_name(:agreement_cost) %>:</strong></dt>
  <dd><%= @booking_detail.agreement_cost %></dd>
  <dt><strong><%= model_class.human_attribute_name(:registration_fees) %>:</strong></dt>
  <dd><%= @booking_detail.registration_fees %></dd>
  <dt><strong><%= model_class.human_attribute_name(:final_sale_deed_fees) %>:</strong></dt>
  <dd><%= @booking_detail.final_sale_deed_fees %></dd>
  <dt><strong><%= model_class.human_attribute_name(:stamp_duty) %>:</strong></dt>
  <dd><%= @booking_detail.stamp_duty %></dd>
  <dt><strong><%= model_class.human_attribute_name(:other_charges) %>:</strong></dt>
  <dd><%= @booking_detail.other_charges %></dd>
</dl>

<%= link_to t('.back', :default => t("helpers.links.back")),
              booking_details_path, :class => 'btn btn-default'  %>
<%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_booking_detail_path(@booking_detail), :class => 'btn btn-default' %>
<%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              booking_detail_path(@booking_detail),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
