<%- model_class = Site -%>
<div class="page-header">
  <h3><%= 'All Sites'.upcase %>
    <span class="pull-right">
      <%= link_to 'Add Site',
                  new_site_path,
                  :class => 'btn btn-primary btn-sm' %>
    </span>
  </h3>
</div>

<div class="row col-md-offset-1 col-xs-offset-1">
<% @sites.each do |site| %>
  <div class="card col-md-3 col-sm-5 col-xs-11 text-center" style="margin: 1rem">
    <div class="card-block">
      <h4 class="card-title"><strong><%= site.name.upcase %></strong></h4>
      <hr />
      <p class="card-text">
        <strong>Addres: </strong> <%= site.address %> <br />
        <strong>Total Flats: </strong> <%= site.flat_count %> <br />
        <strong>Unit: </strong> <%= site.unit_number %> <br />
        <strong>Area: </strong> <%= site.area %>
      </p>
      <hr />
      <%= link_to 'Visit', site_path(site), class: 'btn btn-warning btn-sm' %>
    </div>
    <hr />
    <div class="card-footer text-muted">
      Booked Flats <span class="badge"><%= site.flats.where(:booking_status=>1).count %></span>
    </div>
  </div>
<% end %>
</div>