<%- model_class = Site -%>
<div class="page-header">
  <h3><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %>
    <span class="pull-right">
      <%= link_to 'Add Site',
                  new_site_path,
                  :class => 'btn btn-primary' %>
    </span>
  </h3>
</div>

<% @sites.each do |site| %>
  <div class="card col-md-6 card-primary text-center" style="width: 20rem; margin: 2px; height: 25rem;">
    <div class="card-block">
      <h4 class="card-title"><%= site.name %></h4>
      <p class="card-text">
        <strong>Addres: </strong> <%= site.address %> <br />
        <strong>Total Flats: </strong> <%= site.flat_count %> <br />
        <strong>Unit: </strong> <%= site.unit_number %> <br />
        <strong>Area: </strong> <%= site.area %>
      </p>
      <%= link_to 'Visit', site_path(site), class: 'btn btn-primary btn-xs' %>
    </div>
    <div class="card-footer text-muted">
      Booked Flats 5
    </div>
  </div>
<% end %>
